onnxruntime==1.17.0
#sentence_transformers==2.6.1  # Latest stable
joblib==1.3.2
numpy==1.26.0
pydantic==2.11.4
#protobuf==3.20.2
fastapi==0.115.12

# Core (Total ~120MB)
#onnxruntime==1.17.0                # 85MB
#optimum==1.20.0                    # 15MB
#onnx==1.16.0                       # 12MB
#numpy==1.26.0                      # 8MB
#fastapi==0.115.12                  # 5MB
#pydantic==2.11.4                   # 3MB
tokenizers==0.21.1